$baseSize: 30px;
$baseColor: rgb(35, 117, 10);


body {
    background-color: $baseColor;
    font-family: 'Lato';
}
.song {
    margin-left: $baseSize;
    padding: $baseSize - 10;
    h1 {
        font-size: $baseSize;
        font-weight: 800;
        padding: $baseSize 0;
    }
    p {
        font-size: $baseSize - 10;
        letter-spacing: 3px;
    }
}